<p id="notice"><%= notice %></p>

<p>
  <b>Show:</b>
  <%= @dashboard_account.show %>
</p>


<%= link_to 'Edit', edit_dashboard_account_path(@dashboard_account) %> |
<%= link_to 'Back', dashboard_accounts_path %>
