<%= content_for :page_header do %>
    <h1><i class="icon-bar-chart"></i>Genel Bakış</h1>
<% end %>
<div class="widget">
  <div class="alert">
    <i class="icon-exclamation-sign"></i> <strong>Welcome!</strong> This is a dashboard of the powerful admin template.
  </div>
</div>
