<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Coming Soon Page" />
  <meta name="keywords" content="coming soon, responsive" />
  <meta name="author" content="ZTApps" />
  <title>CheckinTimer - Coming soon Page</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700%7COpen+Sans:400italic,300,400,700" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Header -->
<header>

  <div class="container content">
    <div class="row">
      <div class="header-left-text">
        <h5>CHECKINTIMER</h5>
      </div>
      <div class="header-right-text">
        <h5><a href="mailto:support@checkintimer.com">support@checkintimer.com</a></h5>
      </div>
    </div>
    <h1 id="main-text">SOMETHING AWESOME IS COMING</h1>
    <h3 id="second-text">You will never lose your mayorship again !</h3>

    <!-- Countdown start -->
    <div id="countdown_dashboard">
      <div class="dash weeks_dash">
        <span class="dash_title">weeks</span>
        <div class="digit">0</div>
        <div class="digit">0</div>
      </div>
      <div class="dash days_dash">
        <span class="dash_title">days</span>
        <div class="digit">0</div>
        <div class="digit">0</div>
      </div>
      <div class="dash hours_dash">
        <span class="dash_title">hours</span>
        <div class="digit">0</div>
        <div class="digit">0</div>
      </div>
      <div class="dash minutes_dash">
        <span class="dash_title">minutes</span>
        <div class="digit">0</div>
        <div class="digit">0</div>
      </div>
      <div class="dash seconds_dash">
        <span class="dash_title">seconds</span>
        <div class="digit">0</div>
        <div class="digit">0</div>
      </div>
    </div>
    <!-- Countdown end -->

  </div>
</header>
<!-- End Header -->

<!-- Newsletter Section -->
<section id="newsletter">
  <div class="container content">

    <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>

    <!-- Newsletter Form -->
    <form id="n_letter" class="row" role="form" method="post" name="newsletter" action="newsletter.php">
      <div class="col-lg-4">
        <!--[if lt IE 10]>
        <div class="ie-placeholder n-name">Name</div>
        <![endif]-->
        <input id="n_name" name="name" type="text" placeholder="Name" />
        <div id='n_name_error' class="error">Name missing</div>
      </div>
      <div class="col-lg-5">
        <!--[if lt IE 10]>
        <div class="ie-placeholder n-email">Email Address</div>
        <![endif]-->
        <input id="n_email" name="email" type="text" placeholder="Email Address" />
        <div id='n_email_error' class="error">Email Address Missing</div>
      </div>
      <div class="col-lg-3">
        <input id="subscribe_button" class="btn" type="submit" name="submit" value="NOTIFY ME">
        <div id='n_success' class="success">YOU HAVE SUBSCRIBED SUCCESSFULLY</div>
        <div id='n_fail' class="error">THIS EMAIL HAS ALREADY SUBSCRIBED!</div>
      </div>
    </form>
    <!-- End Newsletter Form -->

  </div>
</section>
<!-- End Newsletter Section -->

<!-- Features Section -->
<section id="features">
  <div class="container content">

    <h2>Features</h2>

    <div class="row">
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-location-arrow"></i>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed.
        </p>
      </div>
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-inbox"></i>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed.
        </p>
      </div>
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-fire"></i>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed.
        </p>
      </div>
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-laptop"></i>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed.
        </p>
      </div>
    </div>

  </div>
</section>
<!-- End Features Section -->

<!-- End About Section -->
<section id="social">
  <div class="container content">

    <h2>CONNECT WITH US</h2>

    <!-- Social Icons -->
    <ul class="social-icon-container">
      <li>
        <a href="http://facebook.com/" target="_blank">
          <img src="/assets/social-icons/facebook.png" alt="" />
        </a>
      </li>
      <li>
        <a href="http://twitter.com/" target="_blank">
          <img src="/assets/social-icons/twitter.png" alt="" />
        </a>
      </li>
      <li>
        <a href="http://youtube.com/" target="_blank">
          <img src="/assets/social-icons/youtube.png" alt="" />
        </a>
      </li>
      <li>
        <a href="http://dribble.com/" target="_blank">
          <img src="/assets/social-icons/dribbble.png" alt="" />
        </a>
      </li>
      <li>
        <a href="http://vimeo.com/" target="_blank">
          <img src="/assets/social-icons/vimeo.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="/assets/social-icons/google+.png" alt="" />
        </a>
      </li>
      <!--
                          <li>
                              <a href="http://vimeo.com/" target="_blank">
                                  <img src="/assets/social-icons/digg.png" alt="" />
                              </a>
                          </li>
                          <li>
                              <a href="#" target="_blank">
                                  <img src="/assets/social-icons/Evernote.png" alt="" />
                              </a>
                          </li>
                          <li>
                              <a href="#" target="_blank">
                                  <img src="/assets/social-icons/stumbleupon.png" alt="" />
                              </a>
                          </li>
                          <li>
                              <a href="#" target="_blank">
                                  <img src="/assets/social-icons/rss.png" alt="" />
                              </a>
                          </li>
                          <li>
                              <a href="#" target="_blank">
                                  <img src="/assets/social-icons/linkedin.png" alt="" />
                              </a>
                          </li>
                          <li>
                              <a href="#" target="_blank">
                                  <img src="/assets/social-icons/pintrest.png" alt="" />
                              </a>
                          </li>
      -->

    </ul>
    <!-- End Social Icons -->

  </div>
</section>

<!-- Locate Section -->
<section id="locate">
  <div class="container content">

    <div id="Gmap"></div>

    <input id="view-map" type="checkbox" class="view-map-selector">

    <div id="view-address-btn">
      <label for="view-map" class="btn" >VIEW ADDRESS</label>
    </div>

    <div id="locate-overlay">
      <div class="div-1">
        <div>
          <h2>Locate Us</h2>
          <p>
            Studio 103<br>
            The Business Centre<br>
            61 Wellfield Road<br>
            Roath<br>
            Cardiff<br>
            CF24 3DG
          </p>
        </div>
        <div>
          <label for="view-map" class="btn">VIEW MAP</label>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Locate Section -->

<a href="#" class="scrollup"></a>

<!-- End Javascripts -->

</body>

</html>
<!-- Localized -->